:root {
    --peach: #F5D4AB;
    --teal: #499FA4;
    --olive: #4F3F1F;
    --orange: #a87309;
    --dark-orange: #734F07;
}

body {
    background-color:var(--peach);
    margin: 0 auto;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
    color: var(--dark-orange)
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    color: var(--orange);
}
header {
    background-color: var(--teal);
}

header h1 {
    display: inline-block;
    font-size: 48px;
    padding-left: 25px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
    text-decoration: underline solid var(--dark-orange);
    margin-top: 10px;
}

a {
    color: var(--orange);
    text-decoration: none;
}

a:hover {
    color: white;
}

header img {
    width: 100%;
    height: 300px;
    display: block;
    border: 4px 0px 0px 4px solid black;
}

.about-me {
    display: inline-flex;
    position: relative;
    white-space: pre-line;
}

.about-me p {
    border-left: 6px solid black;
    margin-left: 20px;
    padding-left: 10px;
}
.about-me h2 {
    float: left;
    padding-left: 10px;
}

/*@media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }*/