:root {
    --peach: #F5D4AB;
    --teal: #499FA4;
    --olive: #4F3F1F;
    --orange: #a87309;
    --dark-orange: #734F07;
}

body {
    background-color:var(--peach);
    margin: 0 auto;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
    color: var(--dark-orange);
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    color: var(--orange);
}
header {
    background-color: var(--teal);
}

header h1 {
    display: inline-block;
    font-size: 48px;
    padding-left: 25px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
    text-decoration: underline solid var(--dark-orange);
    margin-top: 10px;
}

a {
    color: var(--orange);
    text-decoration: none;
}

a:hover {
    color: white;
}

header img {
    width: 100%;
    display: block;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    max-width: 100%;
    height: auto;
}

#about-me {
    display: inline-flex;
    position: relative;
    padding-left: 30px;
}

#about-me p {
    border-left: 6px solid black;
    margin-left: 20px;
    padding-left: 10px;
}

#about-me h2 {
    float: left;
    padding-left: 30px;
    padding-top: 10px;
}

#about-me img {
    margin-left: 30px;
    border-radius: 8px 8px 8px 8px;
    margin-top: 5px;
    border: 4px solid black;
}
#work h2 {
    text-align: center;
    text-decoration: underline 6px solid black;
}

#work-preview {
    position: relative;
    display: block;
    padding-left: 60px;
    text-align: center;
}

#main-project {
    padding-right: 50px;
}

#filler-projects {
    padding-right: 40px;
}

#work-preview img {
    border: 4px solid black;
}

#contact-me h2 {
    padding-left: 30px;
    padding-top: 10px;
    text-align:center;
    text-decoration: underline 6px solid black;
}

#contact-me ul{
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
    padding-right: 100px;
}

#contact-me li {
    border: 4px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    background-color: var(--teal);
    justify-content: center;
    display:flex;
    margin-top: auto;
    font-size:20px;
    border-top: 4px solid black;
    border-bottom: 4px
}